/* *{
	outline: 1px solid pink;
	
} */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
nav{
	font-size: 0px;
	text-align: right;
}
.tab:not(:first-child){
	margin: 0px 10px;
	display: inline-block;
	line-height: 60px;
	padding: 0px 20px;
	color: #a0a0a0;
	cursor: pointer;
	position: relative;
	font-weight: normal;
}

.tab:not(:first-child)::after{
	content: "";
    display: block;
    width: 0px;
	height: 4px;
	position: absolute;
	bottom: 0px;
	left: 20px;
	background: #243d93;
    transition: all 0.6s ease 0s;
}

.tab:hover::after {
	width: 40px;
	height: 4px;
	background: #243d93;
}
.tab:focus{
	outline: none;
	color:#243d93;
}
.tab:hover{
	color:#243d93;
}
.tab_active:not(:first-child){
	color:#243d93;
}
.tab_active:not(:first-child)::after{
	content: "";
    display: block;
    width: 40px;
	height: 4px;
	position: absolute;
	bottom: 0px;
	left: 20px;
    background: #243d93;
    transition: all 0.6s ease 0s;
}

.tab:first-child{
	background: linear-gradient(90deg, #244091 0%, rgba(72,227,238,1) 100%);
	border-radius: 30px;
	padding: 14px 32px;
	color: #fff;
	cursor: pointer;
	margin: 0px 10px;
}
.tab:first-child:hover{
	background:none;
	border: 2px solid #48e3ee;;
	padding: 12px 30px;
	color: #48e3ee;
	transition: all 0.3s ease 0s;
}
