@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
nav{
	font-size: 0px;
	text-align: right;
}
.tab{
	font-family: 'Roboto Mono', monospace;
	background: none;
	border: 0px;
	font-size: 16px;
	display: inline-block;
	line-height: 60px;
	padding: 0px 20px;
	text-decoration: none;
	color: #a0a0a0;
	cursor: pointer;
	position: relative;
	font-weight: normal;
}
.tab::after{
	content: "";
    display: block;
    width: 0px;
	height: 4px;
	position: absolute;
	bottom: 0px;
	left: 20px;
	background: #243d93;
    /* margin-top: -58px; */
    transition: all 0.6s ease 0s;
}

.tab:hover::after {
	width: 40px;
	height: 4px;
	background: #243d93;
}
.tab:focus{
	outline: none;
	color:#243d93;
}
.tab:hover{
	color:#243d93;
}
.tab_active{
	color:#243d93;
}
.tab_active::after{
	content: "";
    display: block;
    width: 40px;
	height: 4px;
	position: absolute;
	bottom: 0px;
	left: 20px;
    background: #243d93;
    transition: all 0.6s ease 0s;
}