/* -------loading svg--------- */
.load{
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	animation: rotator 1.4s linear infinite;
  }
  
@keyframes rotator {
0% { transform: rotate(0deg); }
100% { transform: rotate(270deg); }
}

.path {
stroke-dasharray: 270;
stroke-dashoffset: 0;
transform-origin: center;
animation:
	dash 1.4s ease-in-out infinite, 
	colors 5.6s ease-in-out infinite;
}

@keyframes colors {
	0% { stroke:#48e3ee; }
50% { stroke: #243d93}
100% { stroke: #48e3ee; }
}

@keyframes dash {
0% { stroke-dashoffset: 187; }
100% {
	stroke-dashoffset: 187;
	transform:rotate(450deg);
}
}